{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "base/css/base.css" %}">

    {% block styles %}
    {% endblock styles %}

    <script type="text/javascript" src="{% static "base/js/jQuery/jquery-1.12.1.min.js" %}">
    </script>
    <script type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
</head>

<body>
    {% include "base/header.html" %}

    {% block body %}
    {% endblock body %}

    {% include "base/footer.html" %}
</body>

{% block scripts %}
{% endblock scripts %}

</html>