.today_task {
    margin: 2em auto;
    padding-bottom: 2em;
    width: 60%;
    background-color: #fff;
    /*background-color: #EBF2F8;*/
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
}

.today_task .today_task_logo {
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    background-color: #3AA6C1;
    padding: 1em;
    color: #fff;
}

.today_task .task_logo {
    margin: 1.5em;
    color: #4683A7;
    font-size: 18px;
}

.today_task .task_table {
    margin: 2em;
}

.today_task .task_table table {
    border-spacing: 0;
    width: 100%;
}

.today_task .task_table table th {
    border-bottom: solid #ccc 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color:  #48A8DD;
}

.today_task .task_table table td {
    /*border-bottom: solid #ccc 1px;*/
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color:  #7E7E7E;
}

.today_task .task_table table td input {
    width: 100%;
    border-bottom: 1px solid #B4AFAF;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    text-align: center;
}

.today_task .task_table table td button {
    width: 100%;
    height: 100%;
    border: 1px solid #09A3DC;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #09A3DC;
    border-radius: 5px;
}

.today_task .task_table .td_checkbox {
    width: 20px;
}

.today_task .task_table .td_task_num {
    width: 100px;
}

.task_statistics  {
    margin: 3em auto 2em;
    padding-bottom: 3em;
    width: 60%;
    background-color: #fff;
    /*background-color: #EBF2F8;*/
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
}

.task_statistics .task_statistics_logo {
	border-radius: 5px 5px 0 0;
    font-size: 20px;
    background-color: #3AA6C1;
    padding: 1em;
    color: #fff;
}

.task_statistics .task_statistics_calendar {
	padding: 1em;
}

.task_statistics .task_statistics_data {
	margin: 1em;
	display: block;
	height: 100%;
	padding-bottom: 2em;
}

.task_statistics .task_statistics_data .completed_tasks_num_last_year {
	float: left;
	width: 33%;
	display: block;
	border-right: 1px solid #B4AFAF;
}

.task_statistics .task_statistics_data .longest_streak_days {
	float: left;
	width: 33%;
	display: block;
}

.task_statistics .task_statistics_data .current_streak_days {
	float: left;
	width: 33%;
	display: block;
	border-left: 1px solid #B4AFAF;
}

.task_statistics .task_statistics_data .text-muted {
	display: block;
	color: #767676;
	font-size: 13px;
	width: 100%;
	text-align: center;
}

.task_statistics .task_statistics_data .completed_tasks_number {
	display: block;
	font-size: 28px;
	width: 100%;
	text-align: center;
	line-height: 1.3em;
	color: #333;
}
