{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    每日任务  
{% endblock title %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "base/css/cal_heatmap/cal-heatmap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "dailytask/css/wrapper_dropdown/wrapper_dropdown_style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "dailytask/css/index.css" %}">
{% endblock %}

{% block body %}
<div class="dailytask_content">
	<div class="today_task">
	    <div class="today_task_logo">今日任务</div>
	    <div class="uncompleted_task_logo task_logo">未完成</div>
	    <div class="uncompleted_task_table task_table">
	        <table class="uncompleted_table" id="uncompleted_table">
	            <tr>
	                <th></th>
	                <th>任务编号</th>
	                <th>任务内容</th>
	                <th></th>
	                <th></th>
	            </tr>
	            {% if uncompleted_tasks %}
	            {% for uncompleted_task in uncompleted_tasks %}
	            <tr>
	                <td class="td_checkbox"><input type="checkbox" id="checkbox_task_{{ forloop.counter }}" class="checkbox_change_status" name="{{ uncompleted_task.id }}"></td>
	                <td align="center" class="td_task_num"><label for="input_task_content_{{ forloop.counter }}" id="label_task_{{ forloop.counter }}" class="label_task">{{ forloop.counter }}</label></td>
	                <td><input type="text" id="input_task_content_{{ forloop.counter }}" class="input_task_content" value="{{ uncompleted_task.content }}" name="{{ uncompleted_task.id }}"></td>
	                <td><button id="btn_add_task_{{ forloop.counter }}" class="btn_add_task" name="{{ uncompleted_task.id }}">修改</button></td>
	                <td><button id="btn_delete_task_{{ forloop.counter }}" class="btn_delete_task" name="{{ uncompleted_task.id }}">删除</button></td>
	            </tr>
	            {% endfor %}
	            <tr>
	                <td class="td_checkbox"><input type="checkbox" id="checkbox_task_{{ uncompleted_tasks|length|add:"1"}}" class="checkbox_change_status"></td>
	                <td align="center" class="td_task_num"><label for="input_task_content_{{ uncompleted_tasks|length|add:"1"}}" id="label_task_1" class="label_task">{{ uncompleted_tasks|length|add:"1"}}</label></td>
	                <td><input type="text" id="input_task_content_{{ uncompleted_tasks|length|add:"1"}}" class="input_task_content"></td>
	                <td><button id="btn_add_task_{{ uncompleted_tasks|length|add:"1"}}" class="btn_add_task">增加</button></td>
	                <td><button id="btn_delete_task_{{ uncompleted_tasks|length|add:"1"}}" class="btn_delete_task">删除</button></td>
	            </tr>
	            {% else %}
	            <tr>
	                <td class="td_checkbox"><input type="checkbox" id="checkbox_task_1" class="checkbox_change_status"></td>
	                <td align="center" class="td_task_num"><label for="input_task_content_1" id="label_task_1" class="label_task">1</label></td>
	                <td><input type="text" id="input_task_content_1" class="input_task_content"></td>
	                <td><button id="btn_add_task_1" class="btn_add_task">增加</button></td>
	                <td><button id="btn_delete_task_1" class="btn_delete_task">删除</button></td>
	            </tr>
	            {% endif %}    
	        </table>
	    </div>
	    <div class="completed_task_log task_logo">已完成</div>
	    <div class="completed_task_table task_table">
        <table id="completed_table" class="completed_table">
            <tr>
                <th></th>
                <th>任务编号</th>
                <th>任务内容</th>
                <th>完成时间</th>
            </tr>
            {% for completed_task in completed_tasks %}
            <tr>
                <td class="td_checkbox"><input type="checkbox" id="checkbox_task_{{ completed_task.id }}" class="checkbox_change_status"  name="{{ completed_task.id }}" checked="checked"></td>
                <td align="center" class="td_task_num"><label for="label_task_{{ forloop.counter }}" id="label_task">{{ forloop.counter }}</td>
                <td><div id="div_task_content_{{ forloop.counter }}" class="div_task_content">{{ completed_task.content }}</div></td>
                <td><div id="div_task_done_date_{{ forloop.counter }}" class="div_task_done_date">{{ completed_task.done_date|date:"Y-m-d H:i:s" }}</div></td>
            </tr>    
            {% endfor %}
        </table>
    </div>
	</div>
	
	<div class="task_statistics">
		<div class="task_statistics_logo">任务统计</div>
		
		<div class="task_statistics_calendar">
			<div id="cal-heatmap">
			</div>
		</div>
		
		<div class="task_statistics_data">
			<div class="completed_tasks_num_last_year">
				<span class="text-muted">一年内完成的任务数</span>
				<span class="completed_tasks_number"></span>
				<span class="during_date_string text-muted"></span>
			</div>
			<div class="longest_streak_days">
				<span class="text-muted">最长坚持时间</span>
				<span class="longest_streak_days_number"></span>
				<span class="during_date_string text-muted"></span>
			</div>
			<div class="current_streak_days">
				<span class="text-muted">目前坚持时间</span>
				<span class="current_streak_days_number"></span>
				<span class="during_date_string text-muted"></span>
			</div>
		</div>
		
		<div class="task_statistics_detail">
			<div class="task_statistics_detail_logo">任务完成情况</div>
			<div class="task_statistics_detail_wrapper">
				<div id="task_statistics_detail_dd" class="task_statistics_detail_dd" tabindex="1">
					<span class="dropdown_show">一周内</span>
					<ul class="dropdown" id="task_statistics_detail_dropdown">
						<li value="day"><a href="javascript:void(0)" class="dropdown_link">一天内</a></li>
						<li value="3day"><a href="javascript:void(0)" class="dropdown_link">三天内</a></li>
						<li value="week"><a href="javascript:void(0)" class="dropdown_link">一周内</a></li>
						<li value="month"><a href="javascript:void(0)" class="dropdown_link">一月内</a></li>
					</ul>
				</div>
			</div>
		
			<div class="task_statistics_detail_tasks" id="task_statistics_detail_tasks">
				<div class="task_statistics_detail_number" id="task_statistics_detail_number">共完成 0 项任务</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="{% static "base/js/d3/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "base/js/cal_heatmap/cal-heatmap.min.js" %}"></script>
<script type="text/javascript" src="{% static "dailytask/js/wrapper_dropdown/wrapper_dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "dailytask/js/index.js" %}"></script>
{% endblock scripts %}