{% extends "blog/base/base.html" %}
{% load staticfiles %}

{% block title %}
    我的博客
{% endblock title %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/index.css" %}">
{% endblock %}

{% block left_part %}
<div class="myblogs">
	<div class="myblogs_title">
		<div class="myblogs_logo">我的博文</div>
		<div class="myblogs_new_article"><a href="/blog/new_article/">写文章</a></div>
	</div>
	<div class="myblogs_container">
		{% if articles %}
			{% for article in articles %}
				<section class="myblog_content">
					<a href="{% url "article_detail"  article.id %}">
						<h1 class="myblog_title">{{ article.title }}</h1>
						<p class="myblog_category">{{ article.category.category_name }}</p>
						<time class="myblog_create_date" datetime="{{ article.date_time | date:"Y-m-d" }}">{{ article.date_time | date:"Y-m-d" }}</time>
					</a>
				</section>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}