/* GLOBALS */

.task_statistics_detail *,
.task_statistics_detail *:after,
.task_statistics_detail *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.task_statistics_detail ::selection {
    background: transparent; 
}

.task_statistics_detail ::-moz-selection {
    background: transparent; 
}

.task_statistics_detail .task_statistics_detail_wrapper {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.task_statistics_detail .task_statistics_detail_wrapper:after {
    clear: both;
    content: "";
    display: table;
}

.task_statistics_detail .task_statistics_detail_dd {
    /* Size & position */
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 12px 15px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.task_statistics_detail .task_statistics_detail_dd:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.task_statistics_detail .task_statistics_detail_dd .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.task_statistics_detail .task_statistics_detail_dd .dropdown li {
    padding: 0 10px ;
}

.task_statistics_detail .task_statistics_detail_dd .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.task_statistics_detail .task_statistics_detail_dd .dropdown li:last-of-type a {
    border: none;
}

.task_statistics_detail .task_statistics_detail_dd .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.task_statistics_detail .task_statistics_detail_dd .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.task_statistics_detail .task_statistics_detail_dd.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.task_statistics_detail .task_statistics_detail_dd.active:after {
    border-color: #82d1ff transparent;
}

.task_statistics_detail .task_statistics_detail_dd.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.task_statistics_detail .task_statistics_detail_dd {
    background: #eee;
    float: right;
    font-size: 15px;
}

