.bg_box {
    width:40%;
    margin: 1em auto;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: rgb(118, 167, 207);
}

.bg_box .register_box {
    margin:0 auto;
    width: 350px;
}

.bg_box .register_box td {
    color: #fff;
    font-size: 17px;
}

.bg_box table {
    width: 100%;
    line-height: 3;
}

.bg_box h1 {
    margin-top: 1em;
    color: #fff;
    text-align: center;
}

.bg_box input {
    width: 90%;
    background-color: #fff;
}

.bg_box .submit_btn {
    margin-top: 1.5em;
    display: block;
    width: 200px;
    height: 55px; 
    line-height: 52px; 
    text-align: center; 
    font-family: arial,verdana,sans-serif, '新宋体'; 
    font-weight: bold; 
    font-size: 18px; 
    background: #428bca;
    color: #fff; 
    text-decoration: none; 
    border: 3px solid #357ebd; 
    cursor: pointer
}

.bg_box .submit_btn:hover {
    background: #1165ae;
}

.bg_box .submit_btn:active {
    background: #0d79d5;
}

.bg_box span.alert {
    color: #f00;
}